$controls-color: #181818;
$border-color: #585858;

* {
  box-sizing: border-box;
}

.editor {
  display: block;
  width: 400px;
  justify-content: center;
}

.directives {
  display: block;
  width: 70vw;
  height: auto;
  border: 1px solid $border-color;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background: rgb(184, 182, 182);

  button {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0.5rem;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: $controls-color;
  }
  [data-role="bold"] {
    font-weight: bold;
  }
  [data-role="italic"] {
    font-style: italic;
  }
  [data-role="underline"] {
    text-decoration: underline;
  }
}

[class^="menu"] {
  position: relative;
  top: 48%;

  display: block;
  width: 65%;
  height: 2px;
  margin: 0 auto;
  background: $controls-color;

  &:before {
    @extend [class^="menu"];
    content: "";
    top: -5px;
    width: 80%;
  }
  &:after {
    @extend [class^="menu"];
    content: "";
    top: 3px;
    width: 80%;
  }
}
.menu-left {
  &:before,
  &:after {
    margin-right: 4px;
  }
}
.menu-right {
  &:before,
  &:after {
    margin-left: 4px;
  }
}

.content-area {
  max-width: 100vw;
  width: 70vw;
  height: 50vh;
  padding: 12px;
  resize: both;
  overflow: auto;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  border: 1px solid $border-color;
  border-radius: 0 0 3px 3px;
  background: #f2f4f6;
}
